* {
  background-color: rgb(194, 194, 194);
}

.flex-container {
  display: flex;
  justify-content: right;
  list-style: none;
  background-color: rgb(184, 178, 169);
}

.flex-container li {
  margin: 3px;
}
